.cryptos-table, .cryptos-heading, td.cryptos, .cryptos-footer {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
  }
 .cryptos-table {
    border-width: 4px 4px; /*trbl*/
    box-shadow: 0 0 20px #1C60FF;
    margin: auto auto 10px;
    max-width: 99%;
  }
  .cryptos-table {
    text-align: center;
  }
  label {
    display: block;
  }
  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    transition: border-color 0.15s, box-shadow 0.15s;
  }
  input:focus {
    border-color: #7db0fb;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
  }
  .form-group {
    margin-bottom: 1rem;
    color: white;
  }
  #newsletter {
    float: left;
    margin-right: 0.25rem;
    position: relative;
    top: 0.31rem;
    }
    audio {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .list--dropdown {
      list-style-type: none;
      padding: 0;
      width: 70%;
      margin: 0 auto;
    }
    .list-dropdown-item {
      background-color: #1a1a1a;
      border: 1px solid #ddd;
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s
    }
    .list-dropdown-item:hover .payment-method {
      color: #000;
      font-weight: 600;
    }
    .list-dropdown-item:hover {
      background-color: #ddd;
      transform: scale(1.03);
    }
    .payment-info {
      display: none;
      background-color: #000;
      padding: 12px 16px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
    }
    .payment-info ul li {
      word-break: break-word;
    }
    