  .navbar {
    width: 100%;
    height: 50px;
    max-width: 98%;
    display: flex;
    margin: 0 auto;
    z-index: 69;
    align-items: center;
    justify-content: space-between;
  }
  .pages {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 3rem;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  .top-logo {
    height: 33px;
  }
  .navbar .toggle-btn {
  color: var(--color-headings);
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
  }
  /* ======================================================================== */
  /* LOGIN */
  /* ======================================================================== */
  .login-btn {
  background-color: var(--color-primary);
  color: var(--color-headings);
  text-transform: uppercase;
  padding: 0.5rem 3.6rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  }
  .login-button, .register-button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .register-button {
    background-color: var(--color-headings);
    color: #000;
  }
  .separator {
    text-align: center;
  }
  .login-page, .registration-page, .forgot-password-page {
    display: none;
    }
  .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #000;
      border: 1px solid #ccc;
      padding: 25px;
      z-index: 9999;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      max-width: 500px;
    }
    .close-button {
      position: absolute;
      top: 1px;
      right: 5px;
      font-size: 20px;
      font-weight: bold;
      color: #666;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }
    .close-button:hover {
      color: var(--color-primary);
    }
    .checkbox-container {
      display: flex;
      align-items: center;
    }
    .checkbox-container input[type="checkbox"] {
      margin-right: 10px;
    }
    .checkbox-container label {
      flex-grow: 1;
    }
    .forgot-password-button {
      padding: initial;
      margin-bottom: 15px;
      font-size: 1.4rem;
      color: #ccc;
      text-decoration: underline;
    }
    header input[type="text"], header form input[type="password"],
     header input[type="email"] {
      width: 100%;
      background: transparent;
      color: #ccc;
      border: 1;
      outline: none;
      margin-bottom: 10px;
    }
    header form button{
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
    }
/* ========================================================================== */
/* DROPDOWN MENU */
/* ========================================================================== */
  .dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(4.2px);
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
  z-index: 69;
  }
  .dropdown-menu.open {
    height: fit-content;
  }
  .dropdown-menu li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .dropdown-menu .login-btn {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .dropdown-menu li a {
    color: var(--color-headings)
  }
  /* RESPONSIVE DESIGN*/
  @media(max-width:1024px){
  .pages, .navbar .login-btn {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
  }
  .dropdown-menu {
  display: block;
  }
  }
  @media (max-width:369px) {
    .dropdown-menu {
      left: 2rem;
      width: unset;
    }
  }