.crypto-logo {
    height: 40px;
  }

.stream-vid {
 width: 80%;
 display: block;
 margin: auto;
  }
  audio {
    padding-bottom: 10px;
  }
.dropdown-hover {
  position: relative;
  display: inline-block;
}
.dropdown-gif {
  display: none;
  position: absolute;
  top: 100%; /* Position the gif below the 'YOU' text */
  left: 50%; /* Center the gif horizontally */
  transform: translateX(-50%); /* Adjust the position for better centering */
  z-index: 1; /* Make sure the gif is on top of other elements */
}
.animated-gif {
  max-width: 69vw;
}