/*  Basic styles */
ul { /*Partial CSS Reset*/
  margin: 0;
}
::selection {
  background-color: greenyellow;
}

/*Naviation bar*/
nav {
  text-align: center;
  background: #fb6c24;
  background: radial-gradient(#fb6c24, black);
  width: 100%;
}
.topnavbar {
  position: fixed;
  top: 0;
}
.navbar li {
  display: inline-block;
  font-size: larger;
  padding: 20px 30px;
}
 .navbar a {
  color: white;
  }

/*Block styles */
main {
  margin: 12px;
  padding-top: 58px;
  height: 200vh;
}
main.homepage {
  height: 100vh;
}
body.homepage {
 background-image: url(../Images/TheRoadtrip.png);
 background-size: contain;
 background-repeat: no-repeat;
}
table, th, td, tfoot {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px; 
}
table {
  border-width: 4px 4px; /*trbl*/
  box-shadow: 0 0 20px #1C60FF;
}

/*Typography*/
p {
inline-size: 33%;
  color: white;
  text-align: left;
  font-size: larger;
  text-shadow:
      0.07em 0 black,
      0 0.07em black,
      -0.07em 0 black,
      0 -0.07em black;
}
.highlight {
  background-color: yellow;
}
.title-logo {
height: 32px;
}
em {
    font-style: italic;
  }
  .handle {
    font-weight: bold;
    color: rgb(14.9%, 65.49%, 87.06%);
  }
h1,h2,h3,h4,h5,h6 {
    font-size: xx-large;
    color: white;
    object-fit: cover;
    text-shadow: 0 0 15px rgb(0, 0, 0);
  }
#computershare {
   color: #93186c
  }

  /*Multimedia*/
#fonck-logo {
    height: 80px;
    float: left;
  }
  #gmewallet {
  float: right;
  position: absolute;
  z-index: 1;
  }
#linkedin {
    width: 144px;
  }
  .crypto-logo {
    height: 40px;
  }
video {
 width: 1080px;
  }