/* ========================================================================== */
/* BASIC & PARTIAL CSS RESET */
/* ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
:root {
  --color-primary: #fb6c24;
  --color-secondary: black;
  --color-accent: #93186c;
  --color-headings: white;
  --color-body: #eeeeee;
  --color-important: #009900;
  --color-highlight: greenyellow;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
min-height: 69vh;
}
body {
background-color: #000;
}
/* ========================================================================== */
/* BACKGROUNDS */
/* ========================================================================== */
#about {
  background-image: url(../Images/connecturday-cropped.jpg);
  background-position: center;
  background-size: cover;
}
#foreignfuels {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Foreign-Fuels-Banner.jpeg);
}
#socials {
  background-image: url(../Images/Lilia_eyes.jpg);
  background-position: center;
  background-size: contain;
}
#portfolio {
  background-image: url(../Images/THE-ROADTRIP-[Edition_02].png);
  background-position: center;
  background-size: cover;
}
#library {
  background-image: url(../Images/Barb-on-Top.png);
  background-position: center;
  background-size: cover;
}
#services {
  background-image: url(../Images/THE-ROADTRIP-[Edition_03].png);
  background-position: center;
  background-size: cover;
}
#support {
  background-image: url(../Images/Loophead3064.png);
  background-position: center;
  background-size: cover;
}
#loopring {
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Gamestop-Alley.png);
  background-size: cover;
  background-position: right;
}
  /* ======================================================================== */
  /* HEADER */
  /* ======================================================================== */
.navbar {
  width: 100%;
  height: 50px;
  max-width: 99%;
  display: flex;
  margin: 0 auto;
  z-index: 69;
  align-items: center;
  justify-content: space-between;
}
.pages {
  display: flex;
  margin: 0;
  list-style-type: none;
  gap: 3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.top-logo {
  height: 33px;
}
.navbar .toggle-btn {
color: var(--color-headings);
font-size: 1.6rem;
cursor: pointer;
display: none;
}
.login-btn, button.register {
background-color: var(--color-accent);
color: var(--color-headings);
text-transform: uppercase;
padding: 0.5rem 3.6rem;
border: none;
outline: none;
border-radius: 20px;
font-size: 1.4rem;
font-weight: bold;
cursor: pointer;
transition: scale .2 ease;
}
.login-form {
  display: none;
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 500px;
  }
/* DROPDOWN MENU */
.dropdown-menu {
display: none;
position: absolute;
right: 2rem;
top: 60px;
height: 0;
width: 300px;
background: rgba(0, 0, 0, 0.95);
backdrop-filter: blur(4.2px);
border-radius: 15px;
overflow: hidden;
transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
z-index: 69;
}
.dropdown-menu.open {
  height: 300px
}
.dropdown-menu li {
padding: 0.5rem;
display: flex;
align-items: center;
justify-content: center;
}
.dropdown-menu .login-btn {
  width: 95%;
  display: flex;
  justify-content: center;
}
.dropdown-menu li a {
  color: var(--color-headings)
}
/* RESPONSIVE DESIGN*/
@media(max-width:1024px){
.pages, .navbar .login-btn {
  display: none;
}
.navbar .toggle-btn {
  display: block;
}
.dropdown-menu {
display: block;
}
}
@media (max-width:369px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}
/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */
footer {
  width: 100%;
  position: sticky;
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  color: var(--color-headings);
  padding: 70px 0 25px 0;
  font-size: 2rem;
  text-align: left;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(3) {
flex-basis: 15%;
}
.fonck-logo {
  height: 88px;
  margin-bottom: 30px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
#email-icon {
  margin-right: 5px;
  display: flex;
  height: 20px;
}
#arrow-right {
  height: 20px;
  display: flex;
  margin-left: 5px;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
form.email {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.social-icons {
  margin: 0 auto;
  width: 83%;
  text-align: center;
}
.social-icons img {
  margin: 0 9px 9px 0;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  }
#telegram-icon {
color: #93186c;
}
hr {
  width:90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #ccc;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
width: 15px;
height: 100%;
background: var(--color-primary);
border-radius: 3px;
position: absolute;
top: 0;
left: 10px;
animation: moving 2s linear infinite;
}
@keyframes moving {
0% {
  left: -20px;
}
100% {
  left: 100%;
}
}
/* ========================================================================== */
/* RESPONSIVE DESIGN */
/* ========================================================================== */
  @media (max-width:1024px) {
    #content-wrap {
      padding-bottom: 0px;
    }
    footer {
      bottom: unset;
    }
    }
    @media (min-width: 768px) and (max-width:){
    }
    @media (max-width:1024px) {
      .col {
        flex-basis: 50%;
      }
      .col:nth-child(2), .col:nth-child(3) {
      flex-basis: 50%;
      }
    }
    @media (max-width:768px) {
      .fonck-logo {
        height: 69px;
      }
      footer {
        padding: 40px 0 25px 0;
      }
      .col {
        flex-basis: 100%;
      }
      .col:nth-child(2), .col:nth-child(3) {
      flex-basis: 100%;
      }
    }
    @media (max-width: 1024px) {
      .link-arrow {
        font-size: 1.5rem;
      }
    }
/* ========================================================================== */
/* HOME PAGE */
/* ========================================================================== */
#header-homepage {
  position: absolute;
  top: 0;
  z-index: -69;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1024) {
  #header-homepage {
    height: 741px;
  }
}
@media (max-width: 888px) {
  #header-homepage {
    height: 600px;
  }
}
.typewriter {
  font-style: italic;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills {
background: linear-gradient(to bottom, transparent, #272727, #111111, #000);
}
.skill-icons-grid {
  grid-gap: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 4.20vh;
  }
  @media (max-width:1024px) {
    .skill-icons-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
  }
  @media (max-width:768px) {
    .skill-icons-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }
  @media (max-width:500px) {
    .skill-icons-grid {
      grid-template-columns: 1fr 1fr 1fr;
      }
  }
  .skill-icons-grid div {
    display: block;
  }
  .skills img {
      border-radius: 2rem;
      box-shadow: 0 4px 16px rgba(17,17,26,.05), 0 8px 32px rgba(17,17,26,.05);
      cursor: pointer;
      display: block;
      height: 7rem;
      margin-left: auto;
      margin-right: auto;
      padding: 1rem;
      transition-duration: .4s;
      width: 7rem;
      background: #fff;
  }
/* ========================================================================== */
/* PROJECTS */
/* ========================================================================== */
#header-projects {
  position: absolute;
  top: 0;
  z-index: -69;
  width: 100%;
  object-fit: cover;
}
img.project-image {
  object-fit: contain;
  width: 50%;
  position: relative;
}
#web3rocketeers img, #web3costarica img {
  border: 2px solid #ccc;
}
.projects figure {
text-align: center;
}
#foreignfuels img {
  width: 90%;
}
@media (max-height: 620px) {
  #header-projects {
  height: 1000px;
  }
}
@media (max-width: 768px) {
  #header-projects {
    height: 950px;
  }
}
@media (max-width: 590px) {
  #header-projects {
    height: 999px;
  }
}
.bottom-image {
position: absolute;
width: 100%;
z-index: -69;
max-height: 36%;
}
@media (max-width: 490px) {
  #footer-projects {
    height: 741px;
  }
}
/* ========================================================================== */
/* GRIDS */
/* ========================================================================== */
grid-container--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (max-width:768px) {
  grid-container--2 {
    grid-template-columns: 1fr;
  } 
}
.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}
@media (max-width:1200px) {
  .grid-container3 {
    grid-template-columns: 1fr 1fr;
  } 
}
@media (max-width:650px) {
  .grid-container3 {
    grid-template-columns: 1fr;
  } 
}
.grid-item {
  width: auto;
  padding: 10px;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {  
  .grid-container--inverse .grid-item:nth-of-type(1) {
    order: 2;
  }
  .grid-container--inverse .grid-item:nth-of-type(2) {
    order: 1;
  }
}
/* ========================================================================== */
/* ANIMATIONS */
/* ========================================================================== */
  #arrow-right:hover, .project-image:hover, .fonck-logo, .social-icon:hover, .skill-item:hover {
    transition: all 100ms ease-out 100ms;
}
  #arrow-right:hover, .fonck-logo:hover, .social-icon:hover, .skill-item:hover {
    transform: perspective(420px) translateZ(69px);
  }
  .project-image:hover {
    scale: 1.06;
  }
  .project-image:active {
    scale: 0.94;
  }
  button.register:hover, .login-btn:hover {
    scale: 1.05;
  }
  button.register:active, .login-btn:active {
    scale: 0.95;
  }
/* ========================================================================== */
/* ELEMENTS */
/* ========================================================================== */
table.cryptos, th.cryptos, td.cryptos, tfoot.cryptos {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}
table.cryptos {
  border-width: 4px 4px; /*trbl*/
  box-shadow: 0 0 20px #1C60FF;
  margin: auto auto 10px;
  max-width: 99%;
}
label {
  display: block;
}
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 15px;
  transition: border-color 0.15s, box-shadow 0.15s;
}
input:focus {
  border-color: #7db0fb;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}
.form-group {
  margin-bottom: 1rem;
  color: white;
}
#newsletter {
  float: left;
  margin-right: 0.25rem;
  position: relative;
  top: 0.31rem;
  }
  audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/* ========================================================================== */
/* LINKS */
/* ========================================================================== */
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: var(--color-primary);
}
.link-arrow {
  color: var(--color-important);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 0.5rem;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 1rem;
}
/* ========================================================================== */
/* LISTS */
/* ========================================================================== */
ol {
  text-align: justify;
 }
footer li {
  margin-bottom: 12px;
}
.about  li {
font-style: italic;  
}
.library li {
  text-align: center;
  margin-bottom: 12px;
  }
.support li {
text-align: center;
}
/* ========================================================================== */
/* TYPOGRAPHY */
/* ========================================================================== */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body)
  }
h1, h2, h3, h4, h5, h6 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
font-size: 6rem;
text-transform: uppercase;
margin-top: 1rem;
color: var(--color-primary);
}
h2 {
  font-size: 4.5rem
}
h3, h4, h5, h6 {
  font-size: 3.69rem;
}
@media (max-width: 1024px) {
  body, footer {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.69rem;
  }
  h3, h4, h5, h6 {
    font-size: 3.1rem;
  }
  
}
@media (max-width: 768px) {
  body, footer {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 4.20rem;
  }
  h2 {
    font-size: 3.33rem;
  }
  h3, h4, h5, h6 {
    font-size: 2.5rem;
  }
}
@media (max-width: 420px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.69rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3, h4, h5, h6 {
    font-size: 2.2rem;
  }
}
@media (min-width: 2048px) {
  body, footer {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 8.88rem;
  }
  h2 {
    font-size: 6.9rem;
  }
  h3, h4, h5, h6 {
    font-size: 5rem;
  }
}
strong {
  color: var(--color-primary);
}
.homepage p, .about p, .projects p, .socials p, .portfolio p, .library p, .services p, .support p, figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.69rem;
  text-align: center;
  }
  table.cryptos, ol, .about ul, .library ul, .homepage p, .about p, .projects p, .socials p, .portfolio p, .library p, .services p, .support p, figcaption {
      text-shadow:
          0.07em 0 black,
          0 0.07em black,
          -0.07em 0 black,
          0 -0.07em black;
    }
  .homepage p, .about p, .socials p, .portfolio p, .library p, .services p, .support p, figcaption {
    inline-size: 70%;
    }
.important {
color: var(--color-important);
}
.strong-alt {
  color: var(--color-primary);
}
.title-icon {
height: 3.5rem;
}
em {
    font-style: italic;
  }
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    object-fit: cover;
    text-shadow: 0 0 15px rgb(0, 0, 0);
  }
#computershare {
   display: block;
   margin-left: auto;
   margin-right: auto;
   inline-size: 66%;
   text-align: center;
   color: white
  }
  .skill-icons-grid p {
    text-align: center;
  }
  .skills p {
    text-shadow: none;
    padding-top: 1rem;
  }

  .skills h2 {
    padding-top: 50px;
  }
  .skills h3 {
    font-weight: lighter;
  }
  ::selection {
    background-color: var(--color-highlight);
  }
/* ========================================================================== */
/* MULTIMEDIA */
/* ========================================================================== */
  .crypto-logo {
    height: 40px;
  }
#stream {
 width: 80%;
 display: block;
 margin: auto;
  }
  audio {
    padding-bottom: 10px;
  }
.dropdown-hover {
  position: relative;
  display: inline-block;
}
.dropdown-gif {
  display: none;
  position: absolute;
  right: -30vw;
  padding: 10px 0px;
  z-index: 1;
}
img.animated-gif {
  max-width: 70vw;
}
.dropdown-hover:hover .dropdown-gif {
  display: block;
}