/* BASIC */
/*Partial CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
::selection {
  background-color: greenyellow;
}

/* TYPOGRAPHY */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
:root {
  --color-primary: #fb6c24;
  --color-secondary: black;
  --color-accent: #93186c;
  --color-headings: white;
  --color-body: #eeeeee;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body)
  }
  .homepage p, .about p, .projects p, .socials p, .portfolio p, .library p, .services p, .support p, figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.69rem;
    text-align: center;
      text-shadow:
          0.07em 0 black,
          0 0.07em black,
          -0.07em 0 black,
          0 -0.07em black;
    }
    .homepage p, .about p, .socials p, .portfolio p, .library p, .services p, .support p, figcaption {
      inline-size: 60%;
      text-align: center;
      }
h1, h2, h3, h4, h5, h6 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
font-size: 5.5rem;
}
h2 {
  font-size: 4.2rem
}
h3, h4, h5, h6 {
  font-size: 3.2rem;
}
@media (max-width: 1024px) {
  body {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.69rem;
  }
  h3, h4, h5, h6 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 3.33rem;
  }
  h3, h4, h5, h6 {
    font-size: 2.5rem;
  }
}
@media (max-width: 420px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.69rem;
  }
  h2 {
    font-size: 2.741rem;
  }
  h3, h4, h5, h6 {
    font-size: 2.rem;
  }
}
  .pages a {
    color: var(--color-headings)
    }

.highlight {
  background-color: yellow;
}
.title-icon {
height: 3.5rem;
}
em {
    font-style: italic;
  }
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    object-fit: cover;
    text-shadow: 0 0 15px rgb(0, 0, 0);
  }
#computershare {
   display: block;
   margin-left: auto;
   margin-right: auto;
   inline-size: 66%;
   text-align: center;
   color: white
  }

/* LINKS */
a {
  text-decoration: none;
  color: white;
}
.link-arrow {
  color: var(--color-accent);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 0.5rem;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 1rem;
}
@media (max-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* LISTS */
li {
  color: var(--color-body);
}

/* STRUCTURE */
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 500px;
}
@media (max-width:1024px) {
  #content-wrap {
    padding-bottom: 15px;
  }
  }
body {
  background-color: #000;
}
#homepage {
 background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
 url(../Images/TheRoadtrip.png);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
#about {
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/connecturday-cropped.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#projects {
  background: linear-gradient(#000, #a14516);
}
/*#web3rocketeers {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Web3\ Rocketeers\ Power\ Rangers\ Style.png);
}*/
.header-image {
  position: absolute;
  top: 0;
  z-index: -69;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 666px) {
  .header-image {
    height: 741px;
  }
}
@media (max-width: 580px) {
  .header-image {
    height: 888px;
  }
}
@media (max-width: 460px) {
  .header-image {
    height: 999px;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.grid-item {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
@media (max-width:768px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: none;

    padding: 10px;
  } 
}
#foreignfuels {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Foreign\ Fuels\ Banner.jpeg);
}
/*#web3costarica {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Sunset.jpg);
  overflow: visible;
  z-index: 69;
}*/
.bottom-image {
position: absolute;
width: 100%;
z-index: -69;
max-height: 40%;
}
h1 {
  margin-top: 0px;
}
#socials {
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Lilia_eyes.jpg);
  background-position: center;
  background-size: contain;
}
#portfolio {
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/THE\ ROADTRIP\ [Edition_02].png);
  background-position: center;
  background-size: cover;
}
#library {
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Barb\ on\ Top.png);
  background-position: center;
  background-size: cover;
}
#services {
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/THE\ ROADTRIP\ [Edition_03].png);
  background-position: center;
  background-size: cover;
}
#support {
  background-image: linear-gradient(rgba(64,64,64,0.5),rgba(64,64,64,0.5)), 
  url(../Images/Loophead3064.png);
  background-position: center;
  background-size: cover;
}

/* HEADER */
.navbar {
  width: 100%;
  height: 50px;
  max-width: 99%;
  display: flex;
  margin: 0 auto;
  z-index: 69;
  align-items: center;
  justify-content: space-between;
}
.pages {
  display: flex;
  margin: 0;
  list-style-type: none;
  gap: 3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.top-logo {
  height: 33px;
}
.navbar .toggle_btn {
color: var(--color-headings);
font-size: 1.6rem;
cursor: pointer;
display: none;
}
.action_btn {
background-color: var(--color-accent);
color: var(--color-headings);
text-transform: uppercase;
padding: 0.5rem 3.6rem;
border: none;
outline: none;
border-radius: 20px;
font-size: 1.4rem;
font-weight: bold;
cursor: pointer;
transition: scale .2 ease;
}
.action_btn:hover {
  scale: 1.05;
}
.action_btn:active {
  scale: 0.95;
}
/*Dropdown Menu*/
.dropdown_menu {
display: none;
position: absolute;
right: 2rem;
top: 60px;
height: 0;
width: 300px;
background: rgba(0, 0, 0, 0.95);
backdrop-filter: blur(4.2px);
border-radius: 15px;
overflow: hidden;
transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}
.dropdown_menu.open {
  height: 300px
}
.dropdown_menu li {
padding: 0.5rem;
display: flex;
align-items: center;
justify-content: center;
}
.dropdown_menu .action_btn {
  width: 95%;
  display: flex;
  justify-content: center;
}
.dropdown_menu li a {
  color: var(--color-headings)
}
/*Reponsive Design*/
@media(max-width:1024px){
.pages, .navbar .action_btn {
  display: none;
}
.navbar .toggle_btn {
  display: block;
}
.dropdown_menu {
display: block;
}
}
@media (max-width:369px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* FOOTER */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  color: var(--color-headings);
  padding: 90px 0 30px;
  font-size: 2rem;
  text-align: left;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(3) {
flex-basis: 15%;
}
.fonck-logo {
  height: 88px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .fonck-logo {
    height: 69px;
  }
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
#email-icon {
  margin-right: 5px;
  display: flex;
  height: 20px;
}
#arrow-right {
  height: 20px;
  display: flex;
  margin-left: 5px;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
form.email {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.social-icons {
  margin: 0 auto;
  width: 83%;
  text-align: center;
}
.social-icons img {
  margin: 0 9px 9px 0;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  }
#telegram-icon {
color: #93186c;
}
hr {
  width:90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #ccc;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
width: 15px;
height: 100%;
background: #fb6c24;
border-radius: 3px;
position: absolute;
top: 0;
left: 10px;
animation: moving 2s linear infinite;
}
@keyframes moving {
0% {
  left: -20px;
}
100% {
  left: 100%;
}
}
@media (max-width:1024px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 50%;
  }
  .col:nth-child(2), .col:nth-child(3) {
  flex-basis: 50%;
  }
}
@media (max-width:768px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2), .col:nth-child(3) {
  flex-basis: 100%;
  }
}

  /* ANIMATIONS */
  button:hover {
    transform: perspective(420px) translateZ(69px);
  }
  .project-image, button, .fonck-logo, #telegram-icon, #discord-icon, #twitter-icon, #medium-icon, #linkedin-icon, #github-icon, #reddit-icon, #twitch-logo, #coinmarketcap-icon {
    transition: all 100ms ease-out 100ms;
}
  .fonck-logo:hover, #telegram-icon:hover, #discord-icon:hover, #twitter-icon:hover, #medium-icon:hover, #linkedin-icon:hover, #github-icon:hover, #reddit-icon:hover, #twitch-icon:hover, #coinmarketcap-icon:hover {
    transform: perspective(420px) translateZ(69px);
  }
  .project-image:hover {
    scale: 1.05;
  }
  .project-image:active {
    scale: 0.95;
  }
  a:hover {
    color: #fb6c24;
  }

  /* ELEMENTS */
table.cryptos, th.cryptos, td.cryptos, tfoot.cryptos {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
  color: white;
}
table.cryptos {
  border-width: 4px 4px; /*trbl*/
  box-shadow: 0 0 20px #1C60FF;
}
label {
  display: block;
}
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 15px;
  transition: border-color 0.15s, box-shadow 0.15s;
}
input:focus {
  border-color: #7db0fb;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}
.form-group {
  margin-bottom: 1rem;
  color: white;
}
#newsletter {
  float: left;
  margin-right: 0.25rem;
  position: relative;
  top: 0.31rem;
  }
  figure.projects {
    margin: 15px 15px 0;
  }
  audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* MULTIMEDIA */
  img.project-image {
    object-fit: contain;
    width: 100%;
    max-height: 33vh;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .crypto-logo {
    height: 40px;
  }
video {
 width: 32%;
  }